h1{
    text-align: center;
    margin-top: 3rem;
}
.form {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
input{
    margin: auto;
    align-items: center;
    width: 40%;
}
.form button{
    margin: auto;
    width: 5rem;

}
h3{
    text-align: center;
}
p{
    text-align: center;
}
ul{
    text-align: center;
    list-style: none;
}